<?xml version='1.0' encoding='utf-8'?>
<widget id="com.weighttracker.app" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>智能体重管理</name>
    <description>
        智能体重管理应用 - 记录体重、体脂率，追踪健康趋势，提供个性化健康建议
    </description>
    <author email="support@weighttracker.app" href="https://github.com/hmd19822019/-Weight-Tracker">
        Weight Tracker Team
    </author>
    <content src="index.html" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>


